# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
bower_components/

# Cypress configuration and screenshots
cypress/screenshots/
cypress/videos/
cypress/reports/
my-custom-screenshots-folder/

# Cypress report output
cypress/reports/
cypress/results/

# Coverage directory used by Cypress code coverage plugin
coverage/

# Ignore npm and yarn lock files if you're not using them (uncomment accordingly)
package-lock.json
# yarn.lock

# Optional: Uncomment if you're using OS-specific files or IDEs like VSCode
# macOS
.DS_Store

# VSCode settings
.vscode/

# JetBrains (IntelliJ, WebStorm) settings
# .idea/
